/* ********** All ********** */
body {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

.btn {
  background: radial-gradient(ellipse farthest-corner at top left, #ff79da, #9356dc);
  color: white;
  padding: 1rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0.2rem 0.6rem 0.5rem 0 rgba(92, 90, 90, 0.1);
}
.btn.btn:hover {
  opacity: 0.8;
  box-shadow: 0.2rem 0.4rem 0.5rem 0.5rem rgba(58, 57, 57, 0.1);
}

/* ********** Loader ********** */
.loader {
  background: #F6F6F6;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  z-index: 2;
  transform-origin: top;
  transform: scale(0);
  animation: loader 3s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@keyframes loader {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }
}
.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20rem;
}
.loading-spinner .loading-spinner-title {
  font-family: Shrikhand;
  font-size: 3rem;
  padding-bottom: 3rem;
}
.loading-spinner .loading-spinner-ball {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loading-spinner .loading-spinner-ball .loading-spinner-ball-item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.loading-spinner .loading-spinner-ball .item1 {
  background: #9356DC;
}
.loading-spinner .loading-spinner-ball .item2 {
  background: #FF79DA;
}
.loading-spinner .loading-spinner-ball .item3 {
  background: #99e2d0;
}
.loading-spinner .loading-spinner-icon {
  font-size: 2rem;
  padding-top: 3rem;
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, -20px, 0);
  }
}
.loading-spinner-ball-item:nth-child(1) {
  animation: bouncing 0.4s alternate infinite;
}

.loading-spinner-ball-item:nth-child(2) {
  animation: bouncing 0.4s 0.1s alternate infinite;
}

.loading-spinner-ball-item:nth-child(3) {
  animation: bouncing 0.4s 0.2s alternate infinite;
}

/* ********** Accueil ********** */
.header-title {
  text-align: center;
  font-family: "Shrikhand", cursive;
}

.location {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
}
.location .location-area {
  width: 100%;
  padding: 1rem 0;
  background-color: #e4e4e4;
  box-shadow: 0px -4px 4px #d8d7d7;
}
.location .location-area .location-line {
  font-weight: bold;
  width: 10rem;
  border: none;
  background-color: #e4e4e4;
  padding-left: 1rem;
}
.location .location-explain {
  padding: 2.8rem 1rem;
}

.operation {
  font-family: "Roboto", sans-serif;
}
.operation .operation-title {
  padding-left: 1rem;
}
.operation .operation-line {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0.4rem 1rem 0.5rem 0 rgba(92, 90, 90, 0.1);
  padding: 0 1rem;
  margin: 2rem;
  cursor: pointer;
}
.operation .operation-line:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.operation .operation-line:hover i {
  color: #9356DC;
}
.operation .operation-line .operation-line-number {
  background-color: #9356DC;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin: -1.5rem;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.operation .operation-line .operation-line-icon {
  padding: 1.5rem 1.3rem 1.5rem 2.5rem;
  color: gray;
}
.operation .operation-line .operation-line-text {
  font-size: 0.8rem;
}

.restaurant {
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 13rem 13rem 13rem 13rem;
  row-gap: 2rem;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  margin: 4rem 0 0 0;
}
.restaurant.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant .restaurant-title {
  margin: 1rem 0 0 0;
  padding: 0;
  grid-column: 1/-1;
}
.restaurant .restaurant-card {
  box-shadow: 1px 1px 10px #afaeae;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant-card .restaurant-card-img {
  position: relative;
  flex: 1;
}
.restaurant .restaurant-card .restaurant-card-img .restaurant-card-img-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.restaurant .restaurant-card .restaurant-card-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.3rem;
}
.restaurant .restaurant-card .restaurant-card-desc .restaurant-card-desc-text-title {
  margin: 1rem 0 0 0;
  font-size: 1rem;
}
.restaurant .restaurant-card .restaurant-card-desc .restaurant-card-desc-text-location {
  margin: 0 0 1rem 0;
}
.restaurant .restaurant-card .restaurant-card-desc .restaurant-card-desc-icon {
  font-size: 1.5rem;
  padding-right: 0.5rem;
  transition: color 0.7s ease-out;
  cursor: pointer;
}
.restaurant .restaurant-card .restaurant-card-desc .restaurant-card-desc-icon.restaurant-card-desc-icon:hover {
  font-weight: bolder;
  background: radial-gradient(ellipse farthest-corner at bottom left, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 1.5rem;
}
.footer.footer a {
  text-decoration: none;
  color: white;
}
.footer.footer h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.3rem;
}
.footer.footer h2, .footer.footer h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.footer .fa-utensils {
  padding-right: 1rem;
}
.footer .fa-hands-helping {
  padding-right: 0.5rem;
}
.footer.footer h3 {
  font-weight: normal;
}

/* ********** Menus ********** */
.header-page-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-page-menu .header-title-arrow {
  margin-left: -3rem;
  margin-right: 3rem;
}
.header-page-menu .header-title-arrow.header-title-arrow:active {
  color: black;
}

.menu-img-img {
  width: 100%;
}

.menu {
  background-color: #F6F6F6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding: 1rem;
  position: relative;
  bottom: 3rem;
}
.menu .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .menu-header .menu-header-title {
  font-family: "Shrikhand", cursive;
  margin-bottom: 0;
}
.menu .menu-header .menu-header-icon {
  font-size: 1.5rem;
  padding-right: 0.5rem;
  transition: color 0.7s ease-out;
  cursor: pointer;
}
.menu .menu-header .menu-header-icon.menu-header-icon:hover {
  font-weight: bolder;
  background: radial-gradient(ellipse farthest-corner at bottom left, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu .menu-part {
  padding-top: 1.5rem;
}
.menu .menu-part-title {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  position: relative;
}
.menu .menu-part-title.menu-part-title::before {
  position: absolute;
  content: "";
  background-color: #99e2d0;
  left: 0;
  bottom: -0.4rem;
  width: 2.5rem;
  height: 0.15rem;
}
.menu .menu-part-choice {
  background-color: white;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  cursor: pointer;
  position: relative;
}
.menu .menu-part-choice .menu-part-choice-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.menu .menu-part-choice .menu-part-choice-desc .menu-part-choice-desc-price {
  font-weight: bold;
}
@keyframes menu-part-choice {
  0% {
    transform: translateY(-200px);
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu-part-choice {
  animation: menu-part-choice 1s both;
}

.menu-part-choice:nth-child(2) {
  animation-delay: 0s;
}

.menu-part-choice:nth-child(3) {
  animation-delay: 0.3s;
}

.menu-part-choice:nth-child(4) {
  animation-delay: 0.6s;
}

.menu-part-choice:nth-child(5) {
  animation-delay: 0.9s;
}

.menu-part-choice h3, .menu-part-choice p {
  margin: 0;
}

.check-rotation {
  display: none;
}

.fa-check {
  background-color: white;
  border-radius: 50%;
  color: #99e2d0;
  padding: 0.3rem;
  z-index: 2;
}

@keyframes fa-check {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu-part-choice::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0rem;
  height: 100%;
  background-color: #99e2d0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: width 0.3s ease-in-out;
}

.menu-part-choice:hover::after {
  width: 3rem;
}

.menu-part-choice:hover .menu-part-choice-desc-food {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60%;
}

.menu-part-choice:hover .menu-part-choice-desc-price {
  margin-right: 3rem;
}

.menu-part-choice:hover .fa-check {
  animation: fa-check 0.5s;
}

.menu-part-choice:hover .check-rotation {
  display: flex;
  justify-content: flex-end;
  margin: -1.8rem 0.4rem 0.4rem 0;
}

.menu-part-command {
  display: flex;
  justify-content: center;
  margin: 3rem;
}
.menu-part-command .command-button {
  width: 11rem;
}

/* ********** Media queries ********** */
@media all and (min-width: 600px) {
  .operation-bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .restaurant {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 13rem 13rem;
    column-gap: 2rem;
  }

  .menu-img-img {
    max-height: 400px;
  }

  .menu-bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menu-part {
    width: 45%;
  }

  .footer {
    text-align: center;
  }
}
@media all and (min-width: 1200px) {
  .menu-part {
    width: 30%;
  }
}
@media all and (min-width: 1700px) {
  .restaurant {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 16rem;
  }
}

/*# sourceMappingURL=style.css.map */
