/* ********** All ********** */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99e2d0;

$footer-bg-color: #353535;
$bloc-bg-color: #F6F6F6;

@mixin title-font {
    font-family: 'Shrikhand', cursive;
}
@mixin text-font {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0; 
}

img {
    object-fit: cover;
}

.header__title {
    text-align: center;
    @include title-font();
}

.btn {
    background: radial-gradient(ellipse farthest-corner at top left, #ff79da, #9356dc);
    color: white;
    padding: 1rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0.2rem 0.6rem 0.5rem 0 rgba(92, 90, 90, 0.1);
    &:hover {
        opacity: 0.8;  
        box-shadow: 0.2rem 0.4rem 0.5rem 0.5rem rgba(58, 57, 57, 0.1);
    }
}

.fa-heart {
    font-size: 1.5rem;
    padding-right: 0.5rem;
    transition: color .7s ease-out;
    cursor: pointer;
    &:hover {
        font-weight: bolder;
        background: radial-gradient(ellipse farthest-corner at bottom left, #ff79da, #9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.footer {
    background-color: $footer-bg-color;
    color: white;
    padding: 1.5rem;
    &.footer a {
        text-decoration: none;
        color: white;
    }
    &__h1 {
        @include title-font();
        font-size: 1.3rem;
    }
    &__h2 , &__h3 {
        @include text-font();
        font-size: 1rem;
    }
    .fa-utensils {
        padding-right: 1rem;
    }
    .fa-hands-helping {
        padding-right: 0.5rem;
    }
    &__3 {
        font-weight: normal;
    }
}

/* ********** Loader ********** */
.loading {
    background: $bloc-bg-color;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
    z-index: 2;
    transform-origin:top;
    transform: scale(0);
    animation: loaderAppaer 3s;
    &__spinner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20rem;
        &__title {
            font-family: Shrikhand;
            font-size: 3rem;
            padding-bottom: 3rem;
        }
        &__ball {
            width: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__item {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                
                &_primaryColor {
                    background: $primary-color;
                }
                &_secondaryColor {
                    background: $secondary-color;
                }
                &_tertiaryColor {
                    background: $tertiary-color;
                }
                &:nth-child(1) {
                    animation: rebound 0.4s alternate infinite;
                }
                &:nth-child(2) {
                    animation: rebound 0.4s 0.1s alternate infinite;
                }
                &:nth-child(3) {
                    animation: rebound 0.4s 0.2s alternate infinite;
                }
            }
        }
        &__icon {
            font-size: 2rem;
            padding-top: 3rem;
        }
    }
}

@keyframes loaderAppaer {
    0% {
        opacity: 1;
        transform: scale(1);
    }
     60% {
        opacity: 1;
        transform: scale(1);
    }
     70% {
        opacity: 1;
        transform: scale(1);
    }
    90% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
        display: none;
    }
} 

@keyframes rebound {
    0% {
        transform: translate3d(0, 10px, 0);
    }
    100% {
        transform: translate3d(0, -20px, 0);
    }
}

/* ********** Accueil ********** */
.location {
    text-align: center;
    @include text-font();
    background-color: $bloc-bg-color;
    &__area {
        width: 100%;
        padding: 1rem 0;
        background-color: darken($bloc-bg-color,7%);
        box-shadow: 0px -4px 4px rgb(216, 215, 215);
        &__line {
            font-weight: bold;
            width: 10rem;
            border: none;
            background-color: darken($bloc-bg-color,7%);
            padding-left: 1rem;
        }
    }
    &__explain {
        padding: 2.8rem 1rem;
    }
}

.operation {
    @include text-font();
    &__title {
        padding-left: 1rem;
    }
    &__bloc__line {
        display: flex;
        align-items: center;
        background-color: $bloc-bg-color;
        border-radius: 20px;
        box-shadow: 0.4rem 1rem 0.5rem 0 rgba(92, 90, 90, 0.1);
        padding: 0 1rem;
        margin: 2rem;
        cursor: pointer;
        &:hover {
            background-color: rgb(147, 86, 220, 0.1);
        }
        &:hover &__icon {
            color: $primary-color;
        }
        &__number {
            background-color: $primary-color;
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            margin: -1.5rem;
            color: white;
            font-size: 0.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__icon {
            padding: 1.5rem 1.3rem 1.5rem 2.5rem;
            color: gray;
        }
        &__text {
            font-size: 0.8rem;
        }
    }
}

.restaurant {
    @include text-font();
    background-color: $bloc-bg-color;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 13rem 13rem 13rem 13rem;
    row-gap: 2rem;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    margin: 4rem 0 0 0;
    &.restaurant a {
        text-decoration: none;
        color: black;
    }
    &__title {
        margin: 1rem 0 0 0;
        padding: 0;
        grid-column: 1/-1; 
    }
    &__card {
        box-shadow: 1px 1px 10px #afaeae;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        &__img {
            position: relative;
            flex: 1;
            &__img  {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &__desc {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1.3rem;
            &__text__title {
                margin:1rem 0 0 0;
                font-size: 1rem;
            }
            &__text__location {
                margin: 0 0 1rem 0;
            }
        }
    }
}

/* ********** Menus ********** */
.headerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    &__arrow {
        margin-left: -3rem;
        margin-right: 3rem;  
        color: black;
    }
}

.menuImg__img {
    width: 100%;
}

.menu {
    background-color: $bloc-bg-color;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 1rem;
    position: relative;
    bottom: 3rem;
    .menu__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title {
            @include title-font();
            margin-bottom: 0;
        }
    }
    &__bloc__part {
        padding-top: 1.5rem;
        &__title {
            @include text-font();
            font-weight: normal;
            font-size: 1rem;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                background-color: $tertiary-color;
                left: 0;
                bottom: -0.4rem;
                width: 2.5rem;
                height: 0.15rem;
            }    
        }
        &__choice {
            background-color: white;
            border-radius: 12px;
            @include text-font();
            font-size: 0.8rem;
            padding: 0.5rem;
            margin: 0.5rem 0 0.5rem 0;
            cursor: pointer;
            position: relative;
            animation: menuAppaer 1s both;
            & h3 , & p {
                margin: 0;
            }
            &:nth-child(2) {
                animation-delay: 0s;
            }
            &:nth-child(3) {
                animation-delay: 0.3s;
            }
            &:nth-child(4) {
                animation-delay: 0.6s;
            }
            &:nth-child(5) {
                animation-delay: 0.9s;
            }
            &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0rem;
                height: 100%;
                background-color: $tertiary-color;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                transition: width 0.3s ease-in-out;
            }
            &:hover::after {
                width: 3rem; 
            }
            &:hover &__desc__food {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 60%;
            }
            &:hover &__desc__price {
                margin-right: 3rem;
            }
            &:hover &__check{
                display: flex;
                justify-content: flex-end;
                margin: -1.8rem 0.4rem 0.4rem 0;
                &__faCheck {
                animation: checkRotation 0.5s;
                }
            }
            &__desc {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                position: relative;
                &__price {
                    font-weight: bold;
                }
            }
            &__check {
                display: none;
                &__faCheck {
                    background-color: white;
                    border-radius: 50%;
                    color: $tertiary-color;
                    padding: 0.3rem;
                    z-index: 2;
                }
            }
        }
    } 
}

@keyframes menuAppaer {
    0% {
        transform: translateY(-200px);
        filter: blur(10px);
        opacity: 0;
}
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes checkRotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.menu__command {
    display: flex;
    justify-content: center;
    margin: 3rem;
    &__button {
        width: 11rem;
    }
}

/* ********** Media queries ********** */
@media all and(min-width: 600px) {
    .operation__bloc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .restaurant {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 13rem 13rem;
        column-gap: 2rem;
    }

    .menuImg__img {
       max-height: 400px;
    }

    .menu__bloc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &__part {
        width: 45%;
        }
    }

    .footer {
        text-align: center;
    }
}

@media all and(min-width: 1200px) {
    .menu__bloc__part {
        width: 30%;
    }
}

@media all and(min-width: 1700px) {
    .restaurant {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 16rem;
    }
}